{{#if newAnswerForm}}
  <h2>Respond!</h2>
  <div class="panel panel-default">
    <div class="panel-body">
      <form>
        <div class="form-group">
          <label for="response">Your Response</label>
          {{input value=response id="response" required=true}}
        </div>
        <div class="form-group">
          <label for="responder">Enter your name</label>
          {{input value=responder id="responder" required=true}}
        </div>
        <button class="btn btn-info"{{action 'saveAnswer'}}>Save</button>
      </form>
    </div>
  </div>
{{else}}
  <button class="btn btn-info"{{action 'answerFormShow'}}>Click Here!</button>
{{/if}}
