<h2>User Questions:</h2>

{{#each model.questions as |question|}}
<div class="panel panel-info">
  <div class="panel-heading">
    {{allquestion-tile question=question}}
    <p>{{admin-delete question=question delete="delete"}}{{admin-edit question=question edit="edit"}}</p>
    <br>
  </div>
</div>
{{/each}}

<h2>User Comments:</h2>

<div class="panel panel-info">
  <div class="panel-heading">
    {{#each model.answers as |answer|}}
    {{answer-tile answer=answer}}
    <p>{{admin-delete-answer answer=answer deleteAnswer="deleteAnswer"}}</p>
    <br>
    {{/each}}
  </div>
</div>
